@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --mobile-breakpoint: 768px;

    --red: #c92624;
    --black: #13151a;
    /* Fonts */
    --font-atkinson: "Atkinson Hyperlegible", sans-serif;
    --font-size-xs: 8px;
    --font-size-sm: 12px;
    --font-size-md: 16px;
    --font-size-lg: 22px;
    /* Sizes */
    --container-max-width: 1600px;
}

@media (min-width: var(--mobile-breakpoint)) {
    :root {
        --font-size-xs: 10px;
        --font-size-sm: 14px;
        --font-size-md: 18px;
        --font-size-lg: 24px;
    }
}

html {
    background: var(--black);
    font-family: var(--font-atkinson), sans-serif;
}


@layer base {
    .grid-container {
        @apply grid grid-cols-12 w-full gap-x-5
    }

    .grid-container {
        @apply grid grid-cols-12 gap-5
    }

    .heading-1, h1 {
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: var(--font-size-lg);
    }

    .heading-2 {
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: var(--font-size-md);
    }

    .heading-3, h3 {
        letter-spacing: 0.1em;
        font-size: var(--font-size-sm);
    }

    .text-caption {
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: var(--font-size-md);
    }

    .text-base, p {
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: var(--font-size-sm);

        strong {
            font-weight: 700;
        }
    }
}

@layer base {
    body.content--red header {
        color: var(--black);
    }

    body.content--red .header-logo {
        color: var(--black);
    }

    body.content--red .header-logo-image {
        filter: brightness(0);
        transition: filter 0.2s ease-in-out;
    }

    .mobile-nav-link,
    .nav-link {
        display: flex;
        justify-content: center;
        position: relative;
        padding: 16px 20px;
        font-weight: 700;
        text-transform: uppercase;
        font-size: var(--font-size-md);
    }

    .mobile-nav-link
    .nav-link {
        display: flex;
        justify-content: center;
        position: relative;
        padding: 16px 20px;
        font-weight: 700;
        text-transform: uppercase;
        font-size: var(--font-size-md);
    }

    .mobile-nav-link
    .nav-link:before {
        content: "";
        display: block;
        width: 12px;
        height: 4px;
        border-radius: 10px;
        position: absolute;
        bottom: 0;
        background-color: currentColor;
        transform-origin: center;

        transform: scaleX(0);
        transition: transform 1s ease-in-out;
    }

    .mobile-nav-link,
    .mobile-nav-link:visited,
    .nav-link,
    .nav-link:visited {
        color: currentColor;
    }

    .mobile-nav-link,
    .nav-link.active {
        &:before {
            transform: scaleX(1);
        }
    }

    @media (min-width: 768px) {
        .mobile-nav-link:hover,
        .nav-link:hover {
            text-decoration: none;
        }
    }
}
