---
import Layout from "../layouts/Layout.astro";
import PageWrapper from "../components/PageWrapper.astro";
---

<Layout isRed title="Contact">
  <PageWrapper>
    <h1>Contact</h1>
  </PageWrapper>
</Layout>
