---
import Layout from "@/layouts/Layout.astro";
---

<Layout isRed title="Contact">
  <div class="h-screen flex items-center justify-center">
    <h1 class="heading-1">Contact</h1>
  </div>
</Layout>
