---
import Layout from "@/layouts/Layout.astro";
---

<style>
  #reel-container {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
</style>

<Layout title="Reel">
  <div
    id="reel-lightbox"
    class="absolute bg-black inset-0 opacity-0 pointer-events-none py-32"
  >
    <div class="grid-container h-full items-center justify-center px-10">
      <div class="col-span-6 md:col-start-2 md:col-span-10 md:px-0 h-full">
        <div id="reel-container">
          <span class="text-xs text-primary">Loading ...</span>
        </div>
      </div>
    </div>
  </div>
</Layout>
