---
import Layout from "@/layouts/Layout.astro";
import PageWrapper from "@/components/PageWrapper.astro";
---

<Layout isRed title="Reel">
  <PageWrapper>
    <h1>Reel</h1>
  </PageWrapper>
</Layout>
