---
import lenisLogo from "@/assets/lenis-logo.png";
import NavLink from "@/components/NavLink.astro";
import { Image } from "astro:assets";
---

<header
  class="fixed top-10 left-0 w-full h-16 flex items-center md:justify-center justify-between z-10 text-primary px-10"
>
  <a id="header-logo" class="md:absolute left-20" href="/">
    <Image src={lenisLogo} class="header-logo-image" alt="Lenis logo" />
  </a>
  <nav id="desktop-nav" class="hidden md:flex">
    <ul class="flex gap-x-20">
      <li class="flex">
        <NavLink className="nav-link" href="/about">About</NavLink>
      </li>
      <li class="flex">
        <NavLink className="nav-link" href="/reel">Reel</NavLink>
      </li>
      <li class="flex">
        <NavLink className="nav-link" href="/contact">Contact</NavLink>
      </li>
    </ul>
  </nav>

  <button id="mobile-menu-btn" class="mobile-nav-link md:hidden">Menu</button>

  <div
    id="mobile-menu"
    class="fixed top-0 left-0 bg-primary w-full h-full items-center justify-center flex flex-col text-black opacity-0"
  >
    <div
      class="w-full flex justify-between items-center absolute top-10 left-0 text-black px-10"
    >
      <a class="md:absolute left-20" href="/">
        <Image src={lenisLogo} class="brightness-0" alt="Lenis logo" />
      </a>
      <button id="mobile-menu-close" class="nav-link">Close</button>
    </div>

    <nav id="mobile-nav">
      <ul class="flex flex-col gap-y-5 md:hidden w-full text-black">
        <li>
          <NavLink className="mobile-nav-link" href="/">Home</NavLink>
        </li>
        <li>
          <NavLink className="mobile-nav-link" href="/about">About</NavLink>
        </li>
        <li>
          <NavLink className="mobile-nav-link" href="/reel">Reel</NavLink>
        </li>
        <li>
          <NavLink className="mobile-nav-link" href="/contact">Contact</NavLink>
        </li>
      </ul>
    </nav>
  </div>
</header>
