---
import reelPreview from "../assets/hero-preview.mp4";
---

<style>
  .hero-preview {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
</style>

<div class="hero-preview">
  <video muted loop autoplay src={reelPreview}></video>
</div>
