---
import HomeHeroPreview from "../components/HomeHeroPreview.astro";
---

<style>
  .hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    position: relative;
    color: var(--red);
  }

  .hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hero-content {
    position: relative;
    left: 0;
    right: 0;
    height: 100%;
    margin: 0 auto;
    width: 100%;
    max-width: var(--container-max-width);
  }

  .hero-quote {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    max-width: 250px;

    h3 {
      font-weight: 400;
    }
  }

  .hero-heading {
    gap: 2rem;
    display: flex;
    align-items: center;
    position: absolute;
    font-weight: 700;
    font-size: var(--font-size-lg);
    left: 0;
    bottom: 15%;

    .heading-caption {
      display: block;
      font-weight: 400;
      text-transform: uppercase;
      font-size: var(--font-size-md);
    }
  }
</style>

<div class={"hero"}>
  <HomeHeroPreview />
  <div class="hero-content">
    <div class={"hero-quote"}>
      <h3>“IN THE SHADOWS, THE LIGHT FINDS ITS TRUEST EXPRESSION”.</h3>
    </div>
    <h1 class={"hero-heading"}>
      MANUELENIS
      <span class="heading-caption">—</span>
      <span class="heading-caption"> film director / photographer.</span>
    </h1>
  </div>
</div>
