---
import reelPreview from "@/assets/hero-preview.mp4";
---

<style>
  .hero {
    color: var(--red);
  }
</style>

<div class={"hero h-screen flex"}>
  <div class="hero-video absolute w-full h-full left-0 top-0">
    <video
      muted
      loop
      autoplay
      src={reelPreview}
      id="hero-video"
      class="w-full h-full object-cover"></video>
  </div>
  <div class="absolute w-full h-full grid-container items-center justify-end">
    <div
      class={"col-span-3 md:col-span-3 col-start-4 md:col-start-9 text-right pr-10 md:pr-0"}
    >
      <h3 class="hero-quote">
        “IN THE SHADOWS, THE LIGHT FINDS ITS TRUEST EXPRESSION”.
      </h3>
    </div>
  </div>

  <div class="grid-container absolute w-full bottom-[200px]">
    <div
      class="pl-10 md:px-0 col-span-4 md:col-span-6 md:col-start-2 flex gap-x-5 text-red items-center"
    >
      <h1 class="heading-1 hero-content-element">
        MANUELENIS <span
          class="inline-block text-nowrap text-caption hero-content-element"
        >
          — film director / photographer.</span
        >
      </h1>
    </div>
  </div>
</div>
