---
interface Props {
  id?: string;
  href?: string;
  className?: string;
  dataHover?: "true" | "false";
}

const { id, href, className, dataHover = "false" } = Astro.props as Props;
const pathname = new URL(Astro.request.url).pathname;
---

<a
  id={id}
  href={href}
  data-hover={String(dataHover)}
  class:list={[{ active: pathname === href }, className]}
>
  <slot />
</a>
