---
interface Props {
  href: string;
  className?: string;
}

const { href, className } = Astro.props as Props;
const pathname = new URL(Astro.request.url).pathname;
---

<a
  data-hover
  href={href}
  class:list={["nav-link", { active: pathname === href }, className]}
>
  <slot />
</a>
