<style>
  .cursorArrow {
    position: fixed;
    transform: translate(-10%, -10%);
    pointer-events: none;
  }

  .cursorArrow svg {
    width: 25px;
    height: 25px;
    pointer-events: none;
  }
</style>

<div class={"cursorArrow"}>
  <svg
    fill="none"
    viewBox="0 0 28 33"
    xmlns="http://www.w3.org/2000/svg"
    width="28"
    height="33"
  >
    <path
      fill="#C92624"
      d="M.982.317l27 18.431-13.008 4.666-8.96 9.205L.982.317z"></path>
  </svg>
</div>
