---
import { Image } from "astro:assets";
import Link from "../components/Link.astro";
import lenisLogo from "../assets/lenis-logo.png";

interface Props {
  isRed?: boolean;
}

const { isRed } = Astro.props;
const linkColor = isRed ? "black" : "red";
---

<style>
  .header {
    top: 108px;
    left: 0;
    position: fixed;
    height: 68px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }

  .header-logo {
    left: 80px;
    position: absolute;
    display: block;
    align-items: center;
    justify-content: center;
  }

  .header nav ul {
    gap: 5rem;
    display: flex;
    list-style: none;
    padding: 0;
  }

  .header--red .header-logo {
    color: var(--black);
  }

  .header--red .header-logo-image {
    filter: brightness(0);
    transition: filter 0.2s ease-in-out;
  }
</style>

<header class:list={["header", { "header--red": isRed }]}>
  <a class={"header-logo"} href="/">
    <Image src={lenisLogo} class="header-logo-image" alt="Lenis logo" />
  </a>
  <nav class={"nav"}>
    <ul>
      <li>
        <Link color={linkColor} class="nav-link" to="/about">About</Link>
      </li>
      <li>
        <Link color={linkColor} class="nav-link" to="/reel">Reel</Link>
      </li>
      <li>
        <Link color={linkColor} class="nav-link" to="/contact">Contact</Link>
      </li>
    </ul>
  </nav>
</header>
